<header>
    <div class="header">
      <a routerLink="/" class="logo">Hesoyam Hospital</a>
      <nav>
        <ul>
          <li><a href="#" routerLink="/">Registration</a></li>
          <li><a href="#" routerLink="/action-benefit">Action</a></li>
          <li><a href="#" routerLink="/prescribe-therapy">Therapy</a></li>
          <li><a href="#" routerLink="/specification">Specification</a></li>
          <li><a href="#" routerLink="/medicine-availability">Availability</a></li>
          <li><a href="#" routerLink="/tender-display">Tender</a></li>
        </ul>
      </nav>
    </div>
  </header>

<div class="container">
    <router-outlet></router-outlet>
</div>