<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>
  
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef> Patient Name </th>
      <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="cancelCount">
      <th mat-header-cell *matHeaderCellDef> Number of cancelled appointments in last 30 days</th>
      <td mat-cell *matCellDef="let element"> {{element.cancelCount}} </td>
    </ng-container>
  
    <ng-container matColumnDef="block">
      <th mat-header-cell *matHeaderCellDef> Block </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-stroked-button color="accent" (click)="OnClick(element)" *ngIf="!element.blocked">BLOCK</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>