.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.example-full-width {
  width: 70%;
  align-content: center;
  align-self: center;
}

.address-in-line {
  width: 35%;
  align-content: center;
  align-self: center;
}

.phone-in-line {
  width: 35%;
}

.left {
  text-align: center;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .item3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .item4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
