<div style="height:105%; display: flex; justify-content: center;background-image: url(assets/hospital\.jpg); background-position: center; background-repeat: no-repeat; background-size: cover; height: max-content;">
    <mat-card class="mat-elevation-z8" style="margin-top: 1%; width: 60%; height: 60%; display: flex; justify-content: center; align-items: center; height: max-content; padding-top: 20px; opacity: 80%;">
            <form #feedform="ngForm" style="width: 80%;" (ngSubmit)="submit()" novalidate>

                <h2 style="text-align: center;">
                    Patient Registration
                </h2>
    
                <div class="left">
                  <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <textarea matInput [(ngModel)] = "patientDTO.Name" [formControl]="nameValidator" required cdkTextareaAutosize placeholder="Name" pattern = "[A-Za-z]{2,20}" style="height: 40%;"></textarea>
                  </mat-form-field>

                </div>

                <div class="left">
                  <mat-form-field class="phone-in-line">
                    <mat-label>Surname</mat-label>
                    <textarea matInput [(ngModel)] = "patientDTO.Surname" [formControl]="surnameValidator" required cdkTextareaAutosize placeholder="Surname" pattern = "[a-zA-Z ]{2,30}" style="height: 40%;"></textarea>
                  </mat-form-field>
                  <mat-form-field class="phone-in-line">
                    <mat-label>Middle name</mat-label>
                    <textarea matInput [(ngModel)] = "patientDTO.MiddleName" [formControl]="middleValidator" required cdkTextareaAutosize placeholder="Middle name" pattern = "[A-Za-z]{2,20}" style="height: 40%;"></textarea>
                  </mat-form-field>
                </div>
               
                <div class="left" style="text-align: left; margin-top: 22px; margin-left: 15%; margin-bottom: 20px;">
                  <label class="item1" style="color: gray; margin-right: 20%;">Gender*</label>
                  <mat-radio-group name="gender" [(ngModel)] = "patientDTO.Gender" class="item2" style="color: gray;" [formControl]="genderValidator">
                      <mat-radio-button value="0" style="margin-left: 9%;">Male</mat-radio-button>
                      <mat-radio-button value="1" style="margin-left: 8%;">Female</mat-radio-button>
                      <mat-radio-button value="2" style="margin-left: 8%;">Other</mat-radio-button>
                  </mat-radio-group>
                </div>      

                <div class="left">
                  <mat-form-field class="example-full-width">
                    <mat-label>Enter your email</mat-label>
                    <input matInput [(ngModel)] = "patientDTO.Email" placeholder="email@example.com" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                
                <div class="left">
                  <mat-form-field class="phone-in-line">
                    <mat-label>Username</mat-label>
                    <textarea matInput [(ngModel)] = "patientDTO.Username" (input)="usernameChanged($event)" [formControl]="usernameValidator" required cdkTextareaAutosize placeholder="Username" pattern = "[A-Za-z_0-9]{2,20}" style="height: 40%;"></textarea>
                  </mat-form-field>
                  <mat-form-field class="phone-in-line">
                    <mat-label>Password</mat-label>
                    <input matInput [(ngModel)] = "patientDTO.Password" [type]="hide ? 'password' : 'text'" required [formControl]="passwordValidator" pattern = "[A-Za-z]{8,30}">
                    <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </div>

                <div class="left">

                </div>
                
                <div class="left">
                  <mat-form-field class="example-full-width">
                    <mat-label>Date of birth</mat-label>
                    <input matInput [(ngModel)] = "patientDTO.DateOfBirth" [matDatepicker]="picker" required [formControl]="dateValidator" placeholder="MM/DD/YYYY">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="left">
                  <mat-form-field class="phone-in-line">
                    <mat-label>Health card number</mat-label>
                    <textarea matInput [(ngModel)] = "patientDTO.HealthCardNumber" [formControl]="healthCardNumberValidator" required cdkTextareaAutosize placeholder="00000000000" pattern = "[1-90]{11}" style="height: 40%;"></textarea>
                  </mat-form-field>
                  <mat-form-field class="phone-in-line">
                    <mat-label>JMBG</mat-label>
                    <textarea matInput [(ngModel)] = "patientDTO.Jmbg" [formControl]="jmbgValidator" required cdkTextareaAutosize placeholder="JMBG" pattern = "[1-90]{13}" style="height: 40%;"></textarea>
                  </mat-form-field>
                </div>

                <div class="left">
                  <mat-form-field class="phone-in-line">
                    <mat-label>Mobile phone</mat-label>
                    <textarea matInput [(ngModel)] = "patientDTO.MobilePhone" [formControl]="mobileValidator" required cdkTextareaAutosize placeholder="06XXXXXXXX" pattern = "[1-90]{8,11}" style="height: 40%;"></textarea>
                  </mat-form-field>
                  <mat-form-field class="phone-in-line">
                    <mat-label>Home phone</mat-label>
                    <textarea matInput [(ngModel)] = "patientDTO.HomePhone" [formControl]="homeValidator" required cdkTextareaAutosize placeholder="Home phone" pattern = "[1-90]{8,11}" style="height: 40%;"></textarea>
                  </mat-form-field>
                </div>

                <div class="left">
                  <mat-form-field class="example-full-width">
                  <mat-label>Blood type</mat-label>
                  <mat-select [(ngModel)] = "patientDTO.BloodType" [formControl]="bloodControl" required>
                    <mat-option>--</mat-option>
                    <mat-option value="A_NEGATIVE">A-</mat-option>
                    <mat-option value="A_POSITIVE">A+</mat-option>
                    <mat-option value="B_NEGATIVE">B-</mat-option>
                    <mat-option value="B_POSITIVE">B+</mat-option>
                    <mat-option value="AB_NEGATIVE">AB-</mat-option>
                    <mat-option value="AB_POSITIVE">AB+</mat-option>
                    <mat-option value="O_NEGATIVE">0-</mat-option>
                    <mat-option value="O_POSITIVE">0+</mat-option>
                    <mat-option value="NOT_TESTED">NOT TESTED</mat-option>
                    </mat-select>
                  <mat-error *ngIf="bloodControl.hasError('required')">Please choose blood type</mat-error>
                  </mat-form-field>
                </div>
                
                <div class="left">
                  <mat-form-field class="example-full-width">
                    <mat-label>Allergies</mat-label>
                    <mat-select [(ngModel)] = "patientDTO.Allergies" [formControl]="allergies" multiple>
                      <mat-select-trigger>
                        {{allergies.value ? allergies.value[0] : ''}}
                        <span *ngIf="allergies.value?.length > 1" class="example-additional-selection">
                          (+{{allergies.value.length - 1}} {{allergies.value?.length === 2 ? 'other' : 'others'}})
                        </span>
                      </mat-select-trigger>
                      <mat-option *ngFor="let allergy of allergiesList" [value]="allergy">{{allergy}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                 
                <div class="left">
                  <mat-form-field class="address-in-line">
                    <mat-label>Country</mat-label>
                    <textarea matInput [(ngModel)] = "patientDTO.Country" [formControl]="countryValidator" required cdkTextareaAutosize placeholder="Country" pattern = "[A-Za-z ]{1,50}" style="height: 40%;"></textarea>
                  </mat-form-field>
                  <mat-form-field class="address-in-line">
                    <mat-label>City</mat-label>
                    <textarea matInput [(ngModel)] = "patientDTO.City" [formControl]="cityValidator" required cdkTextareaAutosize placeholder="City" pattern = "[A-Za-z ]{1,50}" style="height: 40%;"></textarea>
                  </mat-form-field>
                </div>

                <div class="left">
                  <mat-form-field class="example-full-width">
                    <mat-label>Address</mat-label>
                    <textarea matInput [(ngModel)] = "patientDTO.Address" [formControl]="addressValidator" required cdkTextareaAutosize placeholder="Address" pattern = "[A-Za-z 1-90]{1,50}" style="height: 40%;"></textarea>
                  </mat-form-field>
                </div>

                <div class="left" style="margin-top: 22px; margin-bottom: 1%;">
                    <input style="display: none;" type="file" (change)="onFileSelected($event)" accept="image/*" #fileInput>
                    <span class="phone-in-line" style="max-width: 35%;">
                      <button mat-raised-button color="accent" type="button" style="padding: 12px 32px; margin-right: 1%;" (click)="fileInput.click()">
                        <mat-label [hidden]="!selectedFileHide">Pick image</mat-label>
                        <mat-label [hidden]="selectedFileHide">{{fileName}}</mat-label>
                      </button>
                    </span>
                    <span class="phone-in-line" style="max-width: 35%;">
                      <button mat-raised-button color="primary" type="submit"  style="padding: 12px 32px; margin-left: 12%;" [disabled] ="email.invalid || nameValidator.invalid || surnameValidator.invalid || middleValidator.invalid || genderValidator.invalid || usernameValidator.invalid || passwordValidator.invalid || dateValidator.invalid || mobileValidator.invalid || countryValidator.invalid || cityValidator.invalid || addressValidator.invalid || bloodControl.invalid || healthCardNumberValidator.invalid || button" type="submit" routerLink="../registrationform">Register</button>
                    </span>
                </div> 

                <div class="left" style=" margin-right: 48%;">

                </div>   
            </form>
    </mat-card>
</div>
