.specification{
    width: 100%;
    text-align: left;
    padding: 10px;
   resize: none;

}
.inputGrup{
    input{
        width: 25%;
    }
    button{
        margin-left:15px ;
    }
}

.text-area {
    padding: 5px 20px 5px 5px;
    margin: 20px 20px 20px 0px;
    width: 1000px;
    height: 200px;
    font-size: 16px;
}