<div style="display: flex; justify-content: center;">
  <mat-card class="mat-elevation-z8" style="margin-top: 10%; width: 90%; padding-top: 30px; justify-content: center;  align-items: center;  height: max-content;">
<mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup" label="Choose time interval for appointment">
      <form  style="margin-top: 1%;">
          <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker" [min]="minDate" [max]="maxDate">
              <input matStartDate placeholder="Start date" name = "startDate" [(ngModel)] = "doctorInterval.StartDate">
              <input matEndDate placeholder="End date" name  = "endDate" [(ngModel)] = "doctorInterval.EndDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Choose doctor's specialisation">
        <form style="margin-top: 1%;">
            <mat-form-field appearance="fill">
                <mat-label>Choose department</mat-label>
                <mat-select [(ngModel)] = "department" name = "department">
                  <mat-option value = "GENERAL_PRACTITIONER">General practitioner</mat-option>
                  <mat-option value = "SURGEON">Surgeon</mat-option>
                  <mat-option value = "CARDIOLOGIST">Cardiologist</mat-option>
                  <mat-option value = "DERMATOLOGIST">Dermatologist</mat-option>
                  <mat-option value = "INFECTOLOGIST">Infectologist</mat-option>
                  <mat-option value = "OPHTAMOLOGIST">Ophtamologist</mat-option>
                  <mat-option value = "ENDOCRINIOLOGIST">Endocriniologist</mat-option>
                  <mat-option value = "GASTROENEROLOGIST">Gastroenterologist</mat-option>
                </mat-select>
              </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click) = "getDoctors(stepper)">Next</button>
          </div>
        </form>
      </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Choose doctor for appointment">
      <form [formGroup]="secondFormGroup" style="margin-top: 1%;">
        <mat-form-field appearance="fill">
            <mat-label>Choose doctor</mat-label>
            <mat-select>
              <mat-option (click) = "selectDoctor(doctor)" *ngFor="let doctor of doctors" [value]="doctor">
                {{doctor.fullName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Choose your priority">
        <form style="margin-top: 1%;" >
        
            <mat-radio-group aria-label="Select an option" [(ngModel)]="doctorInterval.PriorityDoctor" name="priority" style="margin-bottom: 10px;">
                <mat-radio-button value="true">Doctor</mat-radio-button>
                <mat-radio-button value="false" style="margin-left: 10px; margin-bottom: 10px;">Time interval</mat-radio-button>
            </mat-radio-group>
          
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext (click) = "selectAll()">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" label="Choose appointment">
        <form [formGroup]="secondFormGroup" style="margin-top: 1%;">
          <mat-form-field appearance="fill">
              <mat-label>Choose appointment</mat-label>
              <mat-select>
                <mat-option (click) = "pickTime(interval)" *ngFor="let interval of priorityIntervalDto" [value]="interval">
                  {{interval.startTimeText + ",  " + interval.dateText + ", Dr " + interval.fullName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click) = "schedule(stepper)">Next</button>
          </div>
        </form>
      </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p style="margin-top: 10px;">{{scheduledTime}}</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  </mat-card>
</div>
