<div style="height:100%; display: flex; justify-content: center;">
    <mat-card class="mat-elevation-z8" style="margin-top: 10%; width: 60%; height: 60%; display: flex; justify-content: center; align-items: center; height: max-content; padding-top: 20px;">
            <form #feedform="ngForm" style="width: 80%;" (ngSubmit)="submit()" novalidate>

                <h2 style="text-align: center;">
                    Feedback o radu bolnice
                </h2>
    
                <div class="center">
                  <mat-form-field style="width:100%;">
                      <mat-label>Vaš komentar (1-500 karaktera) </mat-label>
                      <textarea #name = "ngModel" pattern = "^.{1,500}$" name="c" matInput required cdkTextareaAutosize [(ngModel)] = "feedbackDTO.comment" placeholder="Podelite svoje utiske" style="height: 40%;"></textarea>
                  </mat-form-field>
                </div>
      
                <div style="display: grid; grid-row-gap: 50px;">
                  <label class="item1">Da li želite da uz ovaj komentar stoji Vaše ime?</label>
                  <mat-radio-group #ano = "ngModel" name="a" class="item2" [(ngModel)] = "anonymity">
                      <mat-radio-button [checked] = "anonymity === 0" value="0">Da</mat-radio-button>
                      <mat-radio-button [checked] = "anonymity === 1" value="1">Ne</mat-radio-button>
                  </mat-radio-group>
                  <label class="item3">Da li želite da ovaj komentar bude vidljiv svim korisnicima sajta?</label>
                  <mat-radio-group #vis = "ngModel" name="v" class="item4" style="float: right;" [(ngModel)] = "visibility">
                      <mat-radio-button [checked] = "visibility === 0" value="0">Da</mat-radio-button>
                      <mat-radio-button [checked] = "visibility === 1" value="1">Ne</mat-radio-button>
                  </mat-radio-group>
                </div>
      
                <div style="text-align: center; margin-top: 50px;">
                  <button [disabled] ="name.invalid || ano.pristine || vis.pristine" mat-raised-button color="primary" type="submit" style="padding: 12px 32px">Pošalji</button>
                </div>
      
            </form>
    </mat-card>
</div>