<html>
  <body style="background-color: rgb(246, 248, 250);">
    <div class="content" fxLayout="row wrap">
      <div id="publishedFeedbacks" fxFlex="25%" *ngFor ="let f of feedback">
        <mat-card class="mat1">
          <mat-card-content style="text-align: center;">
            <img src="assets/feedback.png">
            <p id = "text">{{f.comment}}</p>
          </mat-card-content>
          <mat-card-footer>
            <p id = "name">{{f.userName}}</p>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </body>
</html>
