    <h1>Notifications</h1>
    <ul class="display-list">
        <li *ngFor="let ab of actions">
           <div class="message">
               <p class="text">{{ab.Text}}</p>
                <p class="date">{{ab.Timestamp| date}}  {{ab.Timestamp| date:'shortTime'}}</p>
            </div> 
               <div class="action-button">
                <button mat-raised-button (click)="Approved(ab.Id)"> Approve</button>
                <button mat-raised-button (click)="Delete(ab.Id)"> Delete</button>
               </div> 
        </li>
    </ul>

