<div class="therapy_form">
    <form [formGroup]="therapyForm">
        <mat-form-field >
            <mat-select [(value)]="patientJMBG" placeholder="Patient"  #selectedPatient>
                <mat-option *ngFor="let patient of patients" [value]="patient.jmbg">
                {{patient.name}}
                </mat-option>
            </mat-select>
            </mat-form-field>
        <br>
         <mat-form-field class="example-full-width">
            <input matInput [min]="minDate" [matDatepicker]="start" placeholder="Choose a date" formControlName="Start">
            <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
            <mat-datepicker #start  ></mat-datepicker>
          </mat-form-field>
         <br>
         <mat-form-field class="example-full-width">
            <input matInput [min]="minDate" [matDatepicker]="end" placeholder="Choose a date" formControlName="End">
            <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
            <mat-datepicker #end ></mat-datepicker>
          </mat-form-field>
         <br>
         <mat-form-field  >
            <mat-select [(value)]="pharmacyName" placeholder="Pharmacy"  #selectedPharmacy>
                <mat-option *ngFor="let p of pharmacies" [value]="p.PharmacyName">
                {{p.PharmacyName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
         <br>
         <mat-form-field style="width: 40%;">
            <textarea matInput  cdkTextareaAutosize placeholder="Comment" formControlName="Comment" ></textarea>
          </mat-form-field> 
         <br>    
         <div class="formBox">
            <mat-form-field  >
                <mat-select [(value)]="medID" placeholder="Medicine"  #selectedMedicine>
                    <mat-option *ngFor="let m of medicines" [value]="m.Id">
                    {{m.Name}}
                    </mat-option>
                </mat-select>
                </mat-form-field>
                
                <button mat-raised-button [disabled]="selectedMedicine.empty" (click)="AddMedicine()" style="margin:15px" #medicineAdded>Add</button>
                <p *ngFor="let therapyMed of selectedMed">
                   {{therapyMed}}
               </p>
            </div>
            
            <br>
            
         <button mat-raised-button [disabled]="therapyForm.invalid||selectedPatient.empty||selectedPharmacy.empty||medicineAdded.clicked" (click)="SendTherapy()" >Send</button>
     </form>
</div>
