<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <MyDbConnectionString>server=localhost;port=3306;database=mydb1;user=root;password=root</MyDbConnectionString>
      <SecretKey>SecretKey1234567</SecretKey>
      <EventDbConnectionString>server=localhost;port=3306;database=eventstorage;user=root;password=root</EventDbConnectionString>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
