<h1>Tenders</h1>
<button class="newTender" mat-raised-button (click)="NewTender()" > Add new tender</button>
         <br>
         <br>
<ul class="display-list">
    <li *ngFor="let t of tenders">
       <div class="message">
            <ul class="display-list">
                <li *ngFor="let tl of t.TenderListings">
                    <p class="medicine" >{{tl.Medicine}} : {{tl.Quantity}}</p>
                </li>
            </ul>    
            <br>
            <br>
            <p class="date">{{t.EndDate| date}} {{t.EndDate| date:'shortTime'}}</p>
        </div> 
           <div class="action-button">
            <button mat-raised-button (click)="AllOffers(t.Id)" >
                 All Offers </button>
           </div> 
    </li>
</ul>
