<h2 style="text-align: center; font-size: 25px;">
  MEDICAL RECORD
</h2>
<div style="height:100%; display: flex; justify-content:center;">
  
    <mat-card class="mat-elevation-z8" style="margin-top: 1%; width: 35%; height: 80%; display: flex; justify-content: center; align-items: center; padding-top: 20px;">
            <form >

                <h2 style="text-align: center;">
                    Basic information
                </h2>
    
                <div class="left">
                    <label>Name:</label>
                    <label>{{record.firstName}}</label>
                    
                </div>

                <div class="left">
                    <label>Surname:</label>
                    <label>{{record.lastName}}</label>
                </div>
                <div class="left">
                  <label>Father's name:</label>
                  <label>{{record.middleName}}</label>
                </div> 
                <div class="left">
                  <label>Personal id:</label>
                  <label>{{record.personalId}}</label>
                </div>
                <div class="left">
                  <label>Medical id:</label>
                  <label>{{record.medicalId}}</label>
                </div>
                
                <div class="left">
                  <label>Date of birth:</label>
                  <label>{{record.dateOfBirth}}</label>
                </div>

                <div class="left">
                  <label>Address:</label>
                  <label>{{record.address}}</label>
                </div>
                <div class="left">
                  <label>Mobile phone number:</label>
                  <label>{{record.mobilePhone}}</label>
                </div>
                <div class="left">
                  <label>Home phone number:</label>
                  <label>{{record.homePhone}}</label>
                </div>
                <div class="left">
                  <label>Email:</label>
                  <label>{{record.email}}</label>
              </div>
              <div class="left">
                <label>Username:</label>
                <label>{{record.username}}</label>
            </div>
                <div class="left">
                    <label>Password:</label>
                    <label>{{record.password}}</label>
                </div>
              </form>
    </mat-card>
    <mat-card class="mat-elevation-z8" style="margin-top: 1%; width: 35%; height: 80%; display: flex; justify-content: center; align-items: top; padding-top: 20px;">
    <form>
      <h2 style="text-align: center;">
        Medical information
    </h2>
      <div class="left">
                  <label>Blood type:</label>
                  <label>{{record.bloodType}}</label>
                </div>
                <div class="left">
                  <label>Alergies:</label>
                  <label>{{record.alergies}}</label>
              </div>
            </form>
    </mat-card>
</div>      

